@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	padding: 0px;
	margin: 0px;	
	box-sizing: border-box;
	background: #24252a;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
}

li, a, button {	
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;	
}

.logo {
	cursor: pointer;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: color .3s ease 0s;	
}

.nav__links li a:hover {
	color: #af2d13;
			
}

button {
	padding: 9px 22px;
	background: rgba(175,45,19,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: .3s ease 0s;
}

button:hover {
	background: rgba(175,45,19,0.8);
}

